#posts{
    width: 80%!important;

}
.bg-dark{
    background-color: #3d101f !important;
}

.post{
    border-radius: 5px;
}

.footer{
    background-color: black!important;
    padding-bottom: 1rem !important;
}

.header {
padding-top: 3rem;
}
